# ignore composer dependency directories
vendor
/composer.lock

# ignore node dependency directories
/assets/node_modules/
/assets/package-lock.json

# ignore logs
src/Service/LogErrors/api-errors.txt
src/Service/LogErrors/debug.txt

# misc
.DS_Store
